body{

    background-color: #0d1b2a;
}


html{

    scroll-behavior: smooth;
}




/* ========== Scroll to Top ========== */
#scrollTopBtn {
  position: fixed;
  bottom: 60px;
  right: 25px;
  display: none;
  background: #0073ff;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  z-index: 1000;
}

#scrollTopBtn:hover {
  background-color: #0051b3;
  transform: scale(1.1);
}




.portfolio-container{

    
    height: 60px;
    width: 100%;
   
    
}

.portfolio-container h1{

    margin-top: -4px;
}

.portfolio-container h1 a{

    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 120px;


}

.portfolio-container ul{

    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 120px;
    
}

.portfolio-container ul li{

    list-style-type: none;
    margin-left: 40px;
    
}
.portfolio-container ul li a{

    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 3px;
   
   
}

.portfolio-container ul li a:hover{

    color: #0073ff;
    transition: all 0.5s;
    
    
   
    
    
}

.portfolio-container ul li:hover{

    transform: scale(0.9);
    transition: all 0.5s;
}





.portfolio-naming h1{

    color: white;
    font-size: 28px;
    letter-spacing: 1.5px;
    margin-left: 680px;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.portfolio-naming h2{

    font-size: 20px;
    color: #0073ff;
    margin-left: 680px;
    margin-top: -10px;
    letter-spacing: 0.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.portfolio-naming img {
    position: absolute;
    top: 150px;
    left: 100px;
    height: 400px;
    width: 400px;
    object-fit: fill;
    border-radius:50%; /* Circular shape */
    box-shadow: 0 10px 25px rgba(0, 115, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.portfolio-naming img:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 115, 255, 0.5);
}

.portfolio-naming p{

    color: white;
    font-size: 15px;
    font-weight: 350;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 560px;
    height: 100px;
    margin-left: 680px;
}

.cv{

    margin-left: 680px;
    padding: 5px 25px 5px 25px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #0073ff;
    background: none;
    color: #0073ff;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    
}







.cv:hover{

    background-color: #0073ff;
    color: black;
    transition: ease-in .5s;
    
}
         

                   
.social-media-icons {
  text-align: center;
  margin-top: 40px;
}

.social-media-icons h1 {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 90px;
  margin-left: 150px;
}

.social-media {
  display: flex;
  margin-left: 700px;
  gap: 20px;
  flex-wrap: wrap;

 
  
}

.social-media a {
    
  font-size: 20px;
  color: #0073ff;
  transition: transform 0.3s ease, color 0.3s;
}

.social-media a:hover {
  transform: scale(1.1);
  color: #0051b3;
}


/*------------------------------skills styling section here---------------------------------*/

.skills-containers{

    display: grid;
    grid-template-columns: repeat(4,300px);
    
}


.portfolio-skills h1{

    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    letter-spacing: 2px;
    margin-top: 95px;
    
   
}



.frontend ,.backend, .tools, .deployment{

    border: 1px solid white;
    height: 250px;
    width: 250px;
    margin-left: 120px;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 60px;
   
    
    

}

.frontend h2, .backend h2, .tools h2, .deployment h2{

    color: #0073ff;
    font-size: 18px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.frontend p, .backend p, .tools p, .deployment p{

    color: white;
    font-size: 12px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.frontend img, .backend img, .tools img, .deployment img{

    height: 30px;
    width: 30px;
    margin-right: 5px;
    margin-left: 10px;

}


.frontend:hover,.backend:hover,.tools:hover,.deployment:hover{

    border: 1px solid #0073ff;
    box-shadow: 5px 10px 15px black;
    transform: translateY(-8px);
    transition: all 0.5s;
    
}


/*------------------------------------services styling section here-----------------------------------------------*/


.services h1{

    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    color: white;
    text-align: center;
}



.services-container{

    display: grid;
    grid-template-columns: repeat(3,1fr);
}


.web,.ui-ux,.digital{

    border: 1px solid white;
    height: 250px;
    width: 250px;
    margin-left: 120px;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 40px;
    box-shadow: 5px 10px 15px black;
    
}


.web img,.ui-ux img,.digital img{

    height: 50px;
    width: 50px;
    margin-left: 100px;
    margin-top: 10px;
}

.web h2,.ui-ux h2,.digital h2{

    font-size: 16px;
    color: #0073ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}

.web p,.ui-ux p,.digital p{

    font-size: 12px;
    padding: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*------------------------------------projects styling section here-----------------------------------------------*/


.projects-section {
  padding: 60px 20px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.projects-section h2{

    font-size: 30px;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.project-card {
  position: relative;
  left: 50px;
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 200px;
  width: 250px;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0, 191, 255, 0.2);
}

.project-card img {
  height: 200px;
  width: 250px;
  margin-bottom: 15px;
  object-fit: fill;
}

.project-card h3 {
  color: #00bfff;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 0.95rem;
  color: #ccc;
}

.project-links {
  position: absolute;
  top: 140px;
  left: 90px;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  display: flex;
  justify-content: center;
  gap: 12px;
}


/* Show buttons on hover */
.project-card:hover .project-links {
  opacity: 1;
  transform: translateY(0);
}

.btn {
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  transition: background 0.3s ease;
}

.live-btn {
  background-color: #0d1b2a;
  color: #fff;
}



.live-btn:hover {
  background-color: #49719c;
}


/*--------------------------------About styling section here-----------------------------------------*/

.about h1{

    font-size: 30px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.about p{

   width: 85%;
    margin-left: 120px;
    color: white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*-------------------------Qualification styling section here-----------------------------------------*/


.qualification{

    height: 300px;
    width: 85%;
    border: 1px solid white;
    margin-left: 120px;
    border-radius: 10px;
    box-shadow: 5px 10px 15px black;
}

.qualification h2{

    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0073ff;
    margin-left: 100px;

}

.btech h3,.diploma h3,.ssc h3{

    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0073ff;
    margin-left: 20px;
}

.btech h4,.diploma h4,.ssc h4{

    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-left: 20px;
    margin-top: -10px;
}

.btech h5,.diploma h5,.ssc h5{

    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ccc;
    margin-left: 20px;
    margin-top: -20px;
}

.about-me{

    
    margin-top: -250px;
    margin-left: 800px;
    

}

.about-me h1{

    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0073ff;
}

.about-me h2{

    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0073ff;     

}

.about-me h3{

     font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0073ff;

}
.about-me span{

    color: white;
}

.interests ul{

    display: flex;
    
}
.interests p{

    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0073ff;
    display: flex;
    
    
}

.interests ul li{
    
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 40px;
    
}


/*----------------------------------contact us styling section here-------------------------------------*/

form h1{

    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    margin-top: 130px;
   
}

.contact{

    margin-left: 450px;
    border: 1px solid white;
    height: 300px;
    width: 450px;
    padding: 10px;
    box-shadow: 5px 10px 15px black;
    border-radius: 10px;
     margin-bottom: 100px;
}
label{

      font-size: 14px;
      display: grid;
      padding: 10px;
      color: #0073ff;
      font-size: 15px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

    input{

      width: 90%;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #ccc;
      outline: none;
    }
    textarea{

      width: 90%;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #ccc;
    }
    button{

      padding: 10px 170px;
      margin-top: 20px;
      margin-left: 20px;
      border-radius: 5px;
      border: none;
      background-color: #0073ff;
      color: white;
      cursor: pointer;
    
    }

    button:hover{

        background-color: #556d86;
        transition: all 0.5s;
        
    }

/*-----------------------social media down side styling section here-------------------------------------*/

.social-media-downside {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;

 
  
}

.social-media-downside a {
    
  font-size: 20px;
  color: #0073ff;
  transition: transform 0.3s ease, color 0.3s;
}

.social-media-downside a:hover {
  transform: scale(1.1);
  color: #0051b3;
}


/*-----------------------------copy rights styling section here--------------------------*/

.copyrights{

    position: relative;
    bottom: 0;
    
}

.copyrights p{

    padding: 10px;
    text-align: center;
    background-color: #ccc;
}


.hamburger,.nav-menu{
    display: none;

}


/*-----------------------------Media Responsive adjustment section here---------------------------------------*/


@media only screen and (max-width: 390px){


    html{

    scroll-behavior: smooth;
    
}

body{

    overflow-x: hidden;
}



/* Hamburger button (top-right corner) */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2000;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Slide-down Menu */
.nav-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: white;
  padding: 60px 20px 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  z-index: 1999;
  animation: slideDown 0.3s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.nav-menu ul li {
  margin: 20px 0;
}

.nav-menu ul li a {
  text-decoration: none;
  color: #0073ff;
  font-size: 1.4rem;
  transition: color 0.3s;
}

.nav-menu ul li a:hover {
  color: #0051b3;
}

/* Close button inside menu */
.nav-menu button {
  position: absolute;
  top: 20px;
  right: 55px;
  border-radius: 50%;
  padding: 7px;
 font-size: 15px;
  background: none;
  border: 1px solid #0051b3;
  color: red;
  cursor: pointer;
}

.nav-menu button:hover{

    background-color: #0073ff;
    color: white;
}

/* Animation */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Show hamburger and nav on mobile */
@media only screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-menu.active {
    display: block;
  }
}

    .container{

        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        
       
    }


    .portfolio-container h1{

        position: relative;
        left: -110px;
        
    }

    .portfolio-container ul li a,.about-me{

        display: none;
    }


    /*-----------------------------Naming section here-----------------------------------------------*/

    .portfolio-naming img{

        top: 80px;
        left: 90px;
        height: 250px;
        width: 250px;
        
    }
    .portfolio-naming{

        left: 0;
    }
    .portfolio-naming h1{

        
        margin-left: 40px;
        margin-top: 280px;
        font-size: 20px;
        text-align: center;
    }
    .portfolio-naming h2{

         margin-left: 40px;
        font-size: 15px;
        text-align: center;
    }
    .portfolio-naming p{

         margin-left: 0px;
        font-size: 12px;
        width: 370px;
        
    }

    .cv{

        margin-left: 130px;
        margin-top: -10px;
        font-size: 10px;
    }
    .talk{

        display: none;
    }

    .social-media-icons h1 {
        font-size: 12px;
        margin-top: -20px;
        margin-left: -300px;
   
  }
  .social-media {
  display: flex;
  margin-left: 10px;
  gap: 15px;
  flex-wrap: wrap;

 
  
}

.social-media a {
    
  font-size: 13px;
  color: #0073ff;
  transition: transform 0.3s ease, color 0.3s;
}

.social-media a:hover {
  transform: scale(1.1);
  color: #0051b3;
}


/*-----------------------------skills section here--------------------------------------------*/



.portfolio-skills h1{

    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 70px;
    letter-spacing: 3px;
}



.skills-containers{

    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    
}



.frontend ,.backend, .tools, .deployment{

    border: 1px solid white;
    height: 180px;
    width: 250px;
    margin-left: 10px;
    border-radius: 8px;
    margin-top: -45px;
    cursor: pointer;
    margin-bottom: 60px;
   
    
    

}

.frontend h2, .backend h2, .tools h2, .deployment h2{

    color: #0073ff;
    font-size: 18px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0px;
}

.frontend p, .backend p, .tools p, .deployment p{

    color: white;
    font-size: 11px;
    margin-left: 5px;
    margin-top: -10px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.frontend img, .backend img, .tools img, .deployment img{

    height: 15px;
    width: 15px;
    margin-right: 5px;
    margin-left: 10px;

}


.frontend:hover,.backend:hover,.tools:hover,.deployment:hover{

    border: 1px solid #0073ff;
    box-shadow: 5px 10px 15px black;
    transform: translateY(-8px);
    transition: all 0.5s;
    
}

/*------------------------------------services section here-------------------------------------- */


.services h1{

    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    color: white;
    text-align: center;
}



.services-container{

    display: grid;
    grid-template-columns: repeat(2,190px);
    justify-items: center;
}


.web,.ui-ux,.digital{

    border: 1px solid white;
    height: 220px;
    width: 150px;
    margin-left: 10px;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
    margin-bottom: 60px;
   
    
}
.digital{

    margin-top: -35px;
}

.web img,.ui-ux img,.digital img{

    height: 30px;
    width: 30px;
   margin-left: 60px;
}

.web h2,.ui-ux h2,.digital h2{

    color: #0073ff;
    font-size: 14px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0px;

}

.web p,.ui-ux p,.digital p{

    color: white;
    font-size: 11px;
    margin-left: 5px;
    margin-top: -10px;
    width: auto;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*---------------------projects section here-------------------------------------------------- */

.projects-section h2{

    font-size: 22px;
    margin-top: -50px;
    letter-spacing: 2px;
}

.project-card{

    height: 150px;
}

  .project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0, 191, 255, 0.2);
}

.project-card img {
  height: 150px;
  width: 250px;
  margin-bottom: 15px;
  object-fit: fill;
}


.project-links {
  position: absolute;
  top: 90px;
  left: 90px;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  display: flex;
  justify-content: center;
  gap: 12px;
}


/* Show buttons on hover */
.project-card:hover .project-links {
  opacity: 1;
  transform: translateY(0);
}

.btn {
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  transition: background 0.3s ease;
}

.live-btn {
  background-color: #0d1b2a;
  color: #fff;
}


.live-btn:hover {
  background-color: #49719c;
}


/*----------------------------------about section here--------------------------------------------- */

    .about h1{

        font-size: 22px;
        letter-spacing: 2px;
    }

    .about p{

        font-size: 12px;
        margin-left: 10px;
        width: 350px;
        overflow-x: hidden;
    }

    .qualification{

        margin-left: 10px;
        height: 230px;
        overflow-x: hidden;
    }
    .qualification h2{

        font-size: 14px;
    }
    
.btech h3,.diploma h3,.ssc h3{

    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0073ff;
    margin-left: 20px;
}

.btech h4,.diploma h4,.ssc h4{

    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-left: 20px;
    margin-top: -10px;
}

.btech h5,.diploma h5,.ssc h5{

    font-size: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ccc;
    margin-left: 20px;
    margin-top: -15px;
}

#contact{

    font-size: 22px;
    margin-top: 70px;
}

.contact{

    margin-left: 10px;
    width: 350px;
    
}

.contact button{

    width: 330px;
    margin-left: 10px;
}


}
